.home-container1 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.home-text10 {
  display: inline-block;
}
 
.home-text11 {
  display: inline-block;
}
 
.home-text12 {
  display: inline-block;
}
 
.home-text13 {
  display: inline-block;
}
 
.home-text14 {
  display: inline-block;
}
 
.home-text15 {
  display: inline-block;
}
 
.home-text16 {
  display: inline-block;
}
 
.home-text17 {
  display: inline-block;
}
 
.home-text18 {
  display: inline-block;
}
 
.home-text19 {
  display: inline-block;
}
 
.home-text20 {
  display: inline-block;
}
 
.home-text21 {
  display: inline-block;
}
 
.home-text22 {
  display: inline-block;
}
 
.home-text23 {
  display: inline-block;
}
 
.home-header78 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.home-column {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
 
.home-content1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.home-text24 {
  text-align: center;
}
 
.home-text25 {
  text-align: center;
}
 
.home-actions {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
}
 
.home-button1 {
  text-decoration: none;
}
 
.home-content2 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-container3 {
  display: contents;
}
 
.home-text28 {
  display: inline-block;
}
 
.home-text29 {
  display: inline-block;
}
 
.home-text30 {
  display: inline-block;
}
 
.home-text31 {
  display: inline-block;
}
 
.home-text32 {
  display: inline-block;
}
 
.home-text33 {
  display: inline-block;
}
 
.home-text34 {
  display: inline-block;
}
 
.home-text35 {
  display: inline-block;
}
 
.home-text36 {
  display: inline-block;
}
 
.home-text37 {
  display: inline-block;
}
 
.home-text38 {
  display: inline-block;
}
 
.home-text39 {
  display: inline-block;
}
 
.home-text40 {
  display: inline-block;
}
 
.home-text41 {
  display: inline-block;
}
 
.home-text42 {
  display: inline-block;
}
 
.home-text43 {
  display: inline-block;
}
 
.home-text44 {
  display: inline-block;
}
 
.home-text45 {
  display: inline-block;
}
 
.home-text46 {
  display: inline-block;
}
 
.home-text47 {
  display: inline-block;
}
 
.home-text48 {
  display: inline-block;
}
 
.home-text49 {
  display: inline-block;
}
 
.home-text50 {
  display: inline-block;
}
 
.home-text51 {
  display: inline-block;
}
 
.home-text52 {
  display: inline-block;
}
 
.home-text53 {
  display: inline-block;
}
 
.home-text54 {
  display: inline-block;
}
 
@media(max-width: 767px) {
  .home-content2 {
    width: 100%;
  }
}
 
@media(max-width: 479px) {
  .home-actions {
    width: 100%;
    flex-direction: column;
  }
  .home-button1 {
    width: 100%;
  }
  .home-button2 {
    width: 100%;
  }
}
